* { padding: 0; margin: 0; }


$bg: #332f35;
$fg: lighten($bg,20%);
$borderWidth: 3px;


body {
padding:0px;
margin:0px;
height: 100%;
text-align: center;

}
input{
position: relative;
z-index: 500;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-group label {
  color: lighten($bg,40%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}
.radio-group label:hover {
    background: lightgrey;
    transition: all 0.3s ease;

}
input[type=radio]:checked + label{
  color: #dddddd;
  background: darkblue;
    transition: all 0.3s ease;

}

label + input[type=radio] + label {
  border-left: solid 3px grey;
}
.radio-group {
  border: solid 3px black;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

canvas { 
    background: #eee; 
}
/*meta.foundation-data-attribute-namespace {
  font-family: false; }*/


  #viewer1 {
position: absolute;
height: 500px;
width: 500px;
margin: auto 0px;
  }
  #viewer2 {
position: absolute;
margin: auto 500px;
height: 500px;
width: 500px;
  }
#plot_canvas_LA{
position: absolute;
margin: 0px 20px;
height: 460px;
width: 40px;
}
#plot_canvas_BA{
position: absolute;
margin: 460px 60px;
height: 40px;
width: 460px;
}
#plot_canvas{
position: absolute;
margin: auto 60px;
}
#seq_canvas_div{
display: block;
position: absolute;
margin: 550px 40px;
width: 50%;
overflow: hidden;
}
#seq_canvas_div:hover{
overflow: auto;
}
#sequence_canvas{
}
.structure{
width: 550px;
display: inline;
}
.viewer_div{
    height: 550px;
}
.bigbutton {
    font-size: 16px;
    position:relative;
    margin:0 auto;
    overflow:hidden;
    border-color: #2b669a;    
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
.primary_btn {  
  background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image:         linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}
.panel{
    position:relative;
    width:35%;
    margin:0 auto;
    overflow:hidden;
    border-style: groove;
    padding: 15px;
    text-align: center;
}
.panel2{
    position:relative;
    margin:0 auto;
    height: 620px;
    border-style: groove;
    padding: 15px;
 /*   text-align: center;
    overflow:hidden;
    outline: #000000 groove thick;*/
}
.klocek{
    display: inline-block;
}
.belka{
//    display:inline;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input[type=checkbox] {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
#structure_color_slider:before {
  background-color: pink;
}

input[type=checkbox]:checked + .slider {
  background-color: #2196F3;
}

input[type=checkbox]:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input[type=checkbox]:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

ol{
list-style-type: upper-roman;}


ol > li:not(:last-child)::after {
  content: ";";
}
ol >li:last-child::after{
  content: ".";
}

.options{
  width: 50%;
  float: left;
}
.instructions{
  width: 50%;
  margin-left: 50%;
/*  display:none;*/
}



.slidecontainer {
    width: 50%; /* Width of the outside container */
}

/* The slider itself */
.range_slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.range_slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.range_slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
}

.range_slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
}
