{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PconsFold">
    <meta name="author" content="John Lamb">

    <title>PconsFam database</title>
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/jumbotron.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "css/dataTables.bootstrap4.min.css" %}" type="text/css" />

<link rel="shortcut icon"
      type="image/png"
	  href="{% static "images/favicon.ico" %}" />    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
	<script src="{% static "js/popper.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
	<script src="{% static "js/dataTables.bootstrap4.min.js" %}"></script>
  </head>
  <body>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">PconsFam</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'web_CPA:search' %}">Search</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'web_CPA:browse' %}">Browse</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item"
                  href="http://c3.pcons.net/static/download/pfam.tar.gz">All
                  predictions</a>
              <a class="dropdown-item"
				 href="{% static "/data/benchmarkset.tar.gz" %}">Benchmark dataset</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'web_CPA:help' %}">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:arne@bioinfo.se">Contact</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/browse">
          <input class="form-control mr-sm-2" type="text" placeholder="Search"
          aria-label="Search" name="search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main">


{% block content_main %}
{% endblock %}
    </main>

    <footer class="container">
      <p>&copy; <a href="http://bioinfo.se">Elofsson Lab 2018</a></p>
    </footer>






  </body>
</html>
