{% extends "web_CPA/base_layout.html" %}
{% load static %}
{%block content_main %}

<script src="{% static "js/modernizr-2.8.3.min.js" %}"></script>
<!-- <script>
var PDB_FILE = "{{ modelURL }}";// to be filled by Django
var model_type = "{{ modelType }}";// to be filled by Django
var PDB_FILES = {{ modelURLs|safe }};// to be filled by Django
var topo_other_imgs = {{ topo_data.1|safe }};
var topo_other_descs = {{ topo_data.0|safe }};
var topo_other_comms = {{ topo_data.2|safe }};
var PDB_CHAIN = "{{pdb_chain}}";
var DI_FILENAMES = {{ DIs|safe }};//
var DI_FILENAME = "{{ DI }}";//
var DMAP_FILENAME =  "{{ dmapURL }}";//
var DMAP_FILENAMES = ["{{ dmapURL }}"];//
var FASTA_FILENAME = "{{ fasta_url }}";//
var PROTEIN_LEN = {{ prot_len }};
var PFAM_MODEL = "{{ pfam_id }}";
var SUBFAMILY_ID = "";
</script> -->
<script src="{% static "js/3Dmol-min.js" %}"></script>
<link rel="stylesheet" href="{% static "css/style.css" %}">

<style>
.mol-container {
  width: 80%; 
  height: 600px;
  position: relative;
}
</style>

<div class="container" id="general_container">
	<ul class="nav nav-tabs">
	  <li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#visualization">Visualization</a>
	  </li>
	  <!--
	  <li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#references">Data files</a>
	  </li>
	  -->
		<li class="nav-item"  >
		<a class="nav-link" data-toggle="tab" href="#logos">Broken and Reentrant core motifs</a>
	  </li>
		<li class="nav-item"  >
		<a class="nav-link" data-toggle="tab" href="#cartoon">Topology Cartoon and KR-bias plot</a>
	  </li>
		<li class="nav-item"  >
		<a class="nav-link" data-toggle="tab" href="#topology">Topology annotation</a>
	  </li>
		<li class="nav-item"  >
		<a class="nav-link" data-toggle="tab" href="#full">Full alignments</a>
	  </li>
		<li class="nav-item"  >
		<a class="nav-link" data-toggle="tab" href="#repeat">Repeat alignments</a>
	  </li>
	</ul>

	<div class="tab-content">

		<div class="container tab-pane active" id="visualization" style="padding-top: 25px; padding-bottom: 150px">
		<!--	
		<div class="col" style="padding-top: 10px;"><h1>{{ subfamily_id }}</h1> <h3>({{ modelType }})</h3> <h5>{{ pdb_id|safe }}</h5><h4>N-repeat {{ nrepeat }} : C-repeat {{ crepeat }}</h4></div> -->
			<div class="col" style="padding-top: 10px;">
				<div class="row"><h1>{{ subfamily_id }}</h1></div>
				<div class="row"><h3>({{ modelType }})</h3></div>
				<div class="row"><h5>PDB: {{ pdb_id|safe }}</h5></div>
				<div class="row"><h5>Pfam: {{ pfam_link|safe }}</h5></div>
				<div class="row"><h5>Pfam Clan: {{ pfam_clan_link|safe }}</h5></div>
				<div class="row"><h5>TCDB: {{ tcdb_link|safe }}</h5></div>
				<div class="row"><h5>OPM: {{ opm_link|safe }}</h5></div>
				<div class="row"><h5>CATH: {{ cath_link|safe }}</h5></div>
				<div class="row"><h4>N-repeat {{ nrepeat }} : C-repeat {{ crepeat }}</h4></div>
			</div>
			
			<div class="row">
				<select name="modelType" id="modelType" class="selectpicker show-tick" onChange="viewer=load_pdb();">
				{% for modelURL in modelURLs %}
				<option value="{{ modelURL.1 }}">{{ modelURL.0 }}</option>
				{% endfor %}
				</select>
			</div>
			<div class="row">
				<div id="container-01" class="mol-container"> </div>
			</div>
			<div class="row">
				<b><i>
					<table style="border:solid 5px white">
						<tr><td>Inside loop</td><td bgcolor="#FFFF80" style="color:#FFFF80;border:solid 3px white">TEST</td><td bgcolor="#FFFFFF" style="color:#FFFFFF">BR</td><td>Outside loop</td><td bgcolor="#99FFFF" style="color:#99FFFF;border:solid 3px white">TEST</td></tr>
						<tr><td>Reentrant in-in</td><td bgcolor="#FFFF80" style="color:#FFFF80;border:solid 3px white"></td><td bgcolor="#FFFFFF" style="color:#FFFFFF">BR</td><td>Reentrant out-out</td><td bgcolor="#99FFFF" style="color:#99FFFF;border:solid 3px white"></td></tr>
						<tr><td>N & C scaffold</td><td bgcolor="#800000" style="color:#800000;border:solid 3px white"></td><td bgcolor="#FFFFFF" style="color:#FFFFFF">BR</td><td>N & C core (6 reentrant)</td><td bgcolor="#008000" style="color:#008000;border:solid 3px white"></td></tr>
						<tr><td>N & C core (7 broken)</td><td bgcolor="#E60073" style="color:#E60073;border:solid 3px white"></td><td bgcolor="#FFFFFF" style="color:#FFFFFF">BR</td><td>N & C core (5 broken)</td><td bgcolor="#800080" style="color:#800080;border:solid 3px white"></td></tr>
					</table>
				</i></b>
			</div>
			
			<div class="row">
			{% for button in buttons_text %}
				<input type="button" value="{{button.0}} {{ button.1}}" onclick="highlight_helix(this, {{button.2}}, {{button.3}})"/>
			{% endfor %}
				<div class="slidecontainer" style="width: 100%; height:50px">
					<input type="range" min="1" max="{{ fa_len }}" value="1" id="mySelection">
				</div>
				<!-- 	<input type="button" value="sphere" onclick="viewer.setStyle({resi:['20-50']}, {cartoon:{color:'red', thickness:1.0}});viewer.render();"> -->
			</div>
			<h3><b>Downloads</b></h3>
			<div class="row">
				<div class="col-sm">
						<a href="{{ fasta_url }}">Representative sequence</a>
				</div>
				<div class="col-sm">
						<a href="{{ family_msa_url }}">Family MSA</a>
				</div>
				<div class="col-sm">
						<a href="{{ fasta_topo_file }}">Topology of representative sequence</a>
				</div>
			</div>
			<div class="row">
				{% for seed in seed_models %}
					<div class="col-sm">
						<a href="{{ seed }}">Seed MSA {{forloop.counter }}</a>
					</div>
				{% endfor %}
				{% for modelURL in modelURLs %}
				<div class="col-sm">
					<a href="{{ modelURL.1 }}">{{ modelURL.0 }}</a>
				</div>
				{% endfor %}
				{% if pirURL %}
				<div class="col-sm">
						<a href="{{ pirURL }}">PIR file</a>
				</div>
				{% endif %}
			</div>
		</div>

		<div class="container tab-pane fade" id="references" style="padding-top: 25px; padding-bottom: 150px">
			<div class="row">
				<div class="col-sm">
						<a href="{{ fasta_url }}">Representative sequence</a>
				</div>
				<div class="col-sm">
						<a href="{{ family_msa_url }}">Family MSA</a>
				</div>
				<div class="col-sm">
						<a href="{{ fasta_topo_file }}">Topology of representative sequence</a>
				</div>
			</div>
			<div class="row">
				{% for seed in seed_models %}
					<div class="col-sm">
						<a href="{{ seed }}">Seed MSA {{forloop.counter }}</a>
					</div>
				{% endfor %}
				<div class="col-sm">
					<a href="{{ modelURL }}">{{ modelType }}</a>
				</div>
				{% if pirURL %}
				<div class="col-sm">
						<a href="{{ pirURL }}">PIR file</a>
				</div>
				{% endif %}
			</div>
		</div>

		<div class="container tab-pane fade" id="logos" style="padding-top: 25px; padding-bottom: 150px">
			<div>
				<img class="img-fluid" style="width: 100%;height:auto" src="{{ motif_url }}" alt="{{ subfamily_id }} motif">
				<p><b>NC: N-core, CC: C-core</b></p>
			</div>
		</div>

		<div class="container tab-pane fade" id="cartoon" style="padding-top: 25px; padding-bottom: 150px">
			<div class="row">
				<div class="col align-items-center">
					<p><b><center>{{ topology }} topology</center></b></p>
					<img src="{{ cartoonURL }}" alt="{{ subfamily_id }} cartoon">
				</div>

				<div class="col">
					<p><b><center>{{ krbroken.0 }} {{ krbroken.1 }} : {{ krreentrant.0 }} {{ krreentrant.1 }}</center></b></p>
					<img src="{{ krbiasURL }}" alt="{{ subfamily_id }} KRbias" style="width: 100%">
				</div>
			</div>
		</div>

		<div class="container tab-pane fade" id="topology" style="padding-top: 25px; padding-bottom: 150px">
			<div class="row">
				{% for annot in topannotURLs %}
				<div class="col-sm"><img src="{{ annot }}" alt="{{ subfamily_id }} topology"></div>
				{% endfor %}
			</div>
		</div>

		<div class="container tab-pane fade" id="full" style="padding-top: 25px; padding-bottom: 150px">
		{% for full_image in full_images %}
			<div class="row" style="padding-bottom:100px"><img class="mw-100" src="{{ full_image }}" alt="{{ subfamily_id }}"></div>
			{% endfor %}
		</div>

		<div class="container tab-pane fade" id="repeat" style="padding-top: 25px; padding-bottom: 150px">
			{% for repeat_image in repeat_images %}
				<div class="row" style="padding-bottom:100px"><img class="mw-100" src="{{ repeat_image }}" alt="{{ subfamily_id }}"></div>
			{% endfor %}
		</div>
	</div>
</div>
{% if modelURLs %}

	<script>
		let colorHelix = function(atom) {
			switch(true) {
				{{ cases_text|safe }}
			}
			return 'white';
		};
		function load_pdb() {
			let element = $('#container-01');
			let config = { backgroundColor: 'white' };
			let viewer = $3Dmol.createViewer( element, config );
			let pdbUri = $('.selectpicker').val(); //"{{ modelURL }}";
			jQuery.ajax( pdbUri, {
				success: function(data) {
					// var rec1 = viewer.addModel($('#1udt').val(), "pdb");
					// rec1.setStyle({cartoon:{colorscheme:'yellowCarbon'}});
					// rec1.setStyle({resn:'VIA'},{sphere:{colorscheme:'redCarbon'}});
					// let v = viewer;
					let m = viewer.addModel( data, "pdb");
					m.setStyle({cartoon: {colorfunc: colorHelix, thickness:0.4}});
					m.setStyle({resn:'DUM'}, {sphere: {opacity:0.8}});
					// v.setStyle({chain:'B'}, {}),;
					// v.setStyle({}, {cartoon: {colorscheme: 'chainHetatm'}});
					// v.zoomTo({resn:'VIA'});
					// v.zoomTo();
					viewer.setProjection("orthographic");
					viewer.rotate(-85,'x');
					viewer.render();
					viewer.zoomTo();
					viewer.zoom(1.2, 1000);
				},
				error: function(hdr, status, err) {
					console.error("Failed to load PDB " + pdbUri + ": " + err );
				},
			});
			return viewer;
			// viewer.zoomTo();
			// viewer.render();
		};
	viewer = load_pdb();
	</script>
	<script>
		function highlight_helix(b, s_index, e_index) {
		viewer.setStyle({resn:'DUM'}, {sphere: {opacity:0.8}});
			model=viewer.getModel();
			if (b.style.color == "red") {
			b.style.color = "black";
			model.setStyle({resi:[''.concat(s_index).concat('-').concat(e_index)]}, {cartoon: {colorfunc: colorHelix, thickness:0.4}});
			} else {
			b.style.color = "red";
			model.setStyle({resi:[''.concat(s_index).concat('-').concat(e_index)]}, {cartoon:{color:'red', thickness:3.0, width:2}});
			};
		viewer.render();}
	</script>
	<script>
		var slider = document.getElementById("mySelection");
		slider.oninput = function() {
			model=viewer.getModel();
			model.setStyle({cartoon: {colorfunc: colorHelix, thickness:0.4}});
			model.setStyle({resn:'DUM'}, {sphere: {opacity:0.8}});
			model.setStyle({resi:['1-'.concat(this.value)]}, {cartoon:{color:"red", width:2}});
			viewer.render();
		}
	</script>
{% endif %}
{% endblock %}
