{% extends "web_CPA/base_layout.html" %}
{% load static %}

{%block content_main %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container" style="background-color:white;padding-bottom:15px">
			<img id="logo_img" class="img-responsive" style="max-width:100%" src="{% static "images/CPAfold.png" %}" alt="CPAfold">
			<div class="row justify-content-md-center">
  <a href="{% url 'web_CPA:search' %}" class="btn btn-lg btn-outline-success">Start searching</a>
  <a href="{% url 'web_CPA:browse' %}" class="btn btn-lg
      btn-outline-success">Start browsing</a>
			</div>
			<img id="intro_img" class="img-responsive" style="max-width:100%" src="{% static "data/CPA/Introductory_figure.svg" %}" alt="Introduction">
        </div>
      </div>

      </div> <!-- /container -->
{% endblock %}
