{% extends "web_pconsfold/base_layout.html" %}
{%block content_main %}

<script src="{{STATIC_URL}}js/modernizr-2.8.3.min.js"></script>
<script>
var PROTEIN_STRUCTURE_FILE = "{{ modelURL }}";// to be filled by Django
var PROTEIN_STRUCTURE_FILES = {{ modelURLs|safe }};// to be filled by Django
var DI_FILENAMES = {{ DIs|safe }};//
var DI_FILENAME = "{{ DI }}";//
var DMAP_FILENAME =  "{{ dmapURL }}";//
var DMAP_FILENAMES = ["{{ dmapURL }}"];//
var FASTA_FILENAME = "{{ fasta_url }}";//
var PROTEIN_LEN = {{ prot_len }};
var PFAM_MODEL = "{{ pfam_id }}";
</script>
<script data-main='{{STATIC_URL}}js/protein' src='{{STATIC_URL}}js/require.js'></script>
<script src="{{STATIC_URL}}js/main.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
<div class="container" style="padding-top: 25px">
  <div class ="row">
    <h1>
      {{ pfam_id }}
    </h1>
  </div>
  <div class="row">
    <h2>
      {{ pfam_name }}
    </h2>
  </div>
  <div class="row">
    <h3>
      {{ pfam_title }}
    </h3>
    </br>
    <p>
    {{ desc }}
    </p>
    Belongs to clan: {{ clan_id }}/{{ clan_name }}
    </br> 
  </div>

  <div class="row">
    <a href="{{ pfam_url }}">PFAM link</a>
  </div>
  <div class="row">
    <a href="{{ pdb_url }}">PDB link</a> 
  </div>
  <div class="row">
        <div class="col-6">
            <div class="viewer_div" id="viewer1" ></div>       
        </div>
        <div class="col-6">
          <div class="viewer_div" id="viewer2" >
            <canvas id="plot_canvas" ></canvas>
            <canvas id="plot_canvas_LA" ></canvas>
            <canvas id="plot_canvas_BA" ></canvas>
          </div>
        </div>
  </div>
  <div class="row">
    <div id="seq_canvas_div">
    <canvas id="sequence_canvas" ></canvas>
    </div>
  </div>

  <div class="row">
    <button id="change_map_0" onclick="change_map_mode(0)" class="primary_btn bigbutton">Show only DI scores</button>
    <button id="change_map_1" onclick="change_map_mode(1)" class="primary_btn bigbutton">Show DI scores and distances side-by-side</button>
    <button id="change_map_2" onclick="change_map_mode(2)" class="primary_btn bigbutton">Overlay DI scores and distances</button>
  </div>

  <div class="row" style="margin-top: 5px">
    <div class="col-6 text-center">
    Cut-off distance for contact map: <input type="number" name="dmap_cutoff" id="dmap_cutoff" oninput="change_dmap_cutoff()" min="3" max="50" step="0.1" style="margin: 5px"> <br/>
    Lower bound for DI scores: <input type="number" name="di_lower_bound" id="di_lower_bound" oninput="change_di_lower_bound()" min="0" max="1" step="0.01"> 
    </div>
    <div class="col-6 text-center">
    Simple colouring of the plot 
    <label class="switch">
      <input id="cmap_mode" type="checkbox" onchange="change_colouring_mode()">
      <span class="slider"></span>
    </label>
    Rainbow<br/>
      <div id="patyczek_div">
    Colouring contact bonds by selection
    <label class="switch">
      <input id="patyczek_mode" type="checkbox" onchange="change_patyczek_mode()">
      <span class="slider"></span>
    </label>
    by distance (Rainbow)<br/>
    </div>
    Structure colouring: Rainbow 
    <label id="structure_color_slider" class="switch">
      <input id="structure_color_mode" type="checkbox" onchange="change_structure_colouring_mode()">
      <span  class="slider"></span>
    </label>
    B-factor<br/><br/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="slidecontainer"> <input type="range" min="1" max="100" value="50" class="range_slider" id="di_scores_cnt"> Number of top interactions shown: 
      <input type="number" name="di_scores_cnt_num" id="di_scores_cnt_num" oninput="change_dsc_num()" min="1" max="50" step="1">
      <span id="di_scores_cnt_display"></span> PPV : <span id="ppv_display"></span>
      </div>
    </div>
  </div>

    <div class="row">
      <div>
     <div class="radio-group" style="position: absolute">
      DI scores file:<br/>
      <input type="radio" id="difile_hh0" name="selector" onchange="change_di_file(0)">
      <label for="difile_hh0">HH0</label>
      <input type="radio" id="difile_hh4" name="selector" onchange="change_di_file(1)">
      <label for="difile_hh4">HH4</label>
      <input type="radio" id="difile_jh0" name="selector" onchange="change_di_file(2)">
      <label for="difile_jh0">JH0</label>
      <input type="radio" id="difile_jh4" name="selector" onchange="change_di_file(3)" checked>
      <label for="difile_jh4">JH4</label>
     </div>
     <div class="radio-group" id="model_radios" style="position: absolute; margin-left: 400px">
      Model file:<br/>
      <input type="radio" id="model1" name="mselector" onchange="change_model_file(0)" checked><label for="model1">model1</label>
     </div>
        <div class="radio-group" id="original_file_boxes" style="position: absolute; margin-left: 600px; display: none">
      Original file controls:<br/>
           <input type="checkbox" id="org_model" name="oselector" onchange="activate_original_model()"><label for="org_model">Switch to PDB structure</label>
           <input type="checkbox" id="org_model_hide" name="oselector" onchange="hide_background_model()"><label for="org_model_hide">Hide grayed out structure</label>
     </div>
      </div>
    </div>
    <div class="row" style="margin-top: 100px">
     
     
     <ol><b>USAGE:</b>
    <li>Click&drag on the plot to select a region and display valid bonds (over DI cutoff)</li>
    <li>Single click clears selection</li>
    <li>Selecting while holding Ctrl buttons adds new selection</li>
    <li>Selection (and bonds) persist after changing plot mode and colouring mode</li>
    <li>Bonds added in simple mode are coloured according to selection rectangle colour. Selecting in rainbow mode adds bonds coloured according to plot marker colour</li>
    <li>Zoom in/zoom out in the canvas using Scroll</li>
    <li><b>MY FAVOURITE FEATURE:</b> Try selecting while holding "Shift" button</li>
    <li>Red on axes indicates Alpha helices, blue indicates Beta sheets</li>
    <li>"DI scores file:" button group changes between differenct coupling files (bonds are changed accordingly)</li>
    <hr width="50%"/>
    <li>Selection on structure (by clicking, holding "Shift" allows extension) marks given region on plot (WITHOUT SELECTING) and on the sequence</li>
    <li>Selection on sequence (clicking and dragging, select/deselect mode depends on status of the first clicked residue) marks given region on plot (WITHOUT SELECTING) and on the structure</li>
    </ol>

    </div>




  </div>
</div>
<script src="{{STATIC_URL}}js/rainbowvis.js"></script>
<script src="{{STATIC_URL}}js/contact_map.js"></script> 
{% endblock %}
