{% extends "web_pconsfold/base_layout.html" %}

{%block content_right_panel %}
  <h2>Download</h2>
  <br><br>
  <table cellspacing=5 cellpadding=5 border=0>
    <tr> <td>
            <h3>Supplementary material</h3>
            <p style="margin-left:15px;">
            PconsC3 predictions for all Pfam families <a href="http://c3.pcons.net/static/download/pfam.tar.gz">pfam.tar.gz</a>
</br>
            PconsC3 benchmark <a href="http://pconsfold.bioinfo.se/static/data/benchmarkset.tar.gz">benchmarkset.tar.gz</a>
            </p>
      </td> </tr>
      <tr></tr>

  </table>
{% endblock %}

