{% extends "web_pconsfold/base_layout.html" %}

{%block content_main %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
<img id="logo_img" src="{{STATIC_URL}}images/header_pconsfold2.png" alt="Pconsfold">
          <h1 class="display-3">Pconsfold</h1>
  <p class="lead">
  Welcome to the Pconsfold PFAM modelling database.
  </p>
  <p><a class="btn btn-lg btn-warning" ui-sref="app.search"><span class="glyphicon glyphicon-search"></span> Start searching</a>
  <a class="btn btn-lg btn-warning" ui-sref="app.browse"><span class="glyphicon glyphicon-list-alt"></span> Start browsing</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col">
            <h2>Welcome</h2>
            <p>Welcome to Pconsfold modelling database. This website contain PFAM families modelled using the Pconsfold pipeline</p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
{% endblock %}
