{% extends "web_pconsfold/base_layout.html" %}

{%block content_right_panel %}
<br>
<h2>Pconsfold: pfam data</h2>

<table id="maintable" class="sortable">
	<thead>
	<tr>
		{% for cell in headers %}
			<th>{{ cell }}</th>
		{% endfor %}
	</tr>
	</thead>
	<tfoot>
	<tr>
		{% for cell in headers %}
			<th>{{ cell }}</th>
		{% endfor %}
	</tr>
	</tfoot>
	<tbody>
	{% for line in tableData %}
		<tr>
			{% for cell in line %}
				{% if forloop.counter0 == 0 %}
					<td><a href="/details/{{ cell }}">{{ cell }}</a> </td>
				{% else %}
					<td>{{cell}}</td>
				{% endif %}
			{%endfor%}
		</tr>
	{% endfor %}
	</tbody>
</table>

    <br><br><br>
    <hr>
   <table cellspacing=0 cellpadding=5 border=0>
     <tr><td><img src="{{STATIC_URL}}/images/0.gif" border=0 height=1 width=400></td>
       <td><img src="{{STATIC_URL}}/images/0.gif" border=0 height=1 width=50></td>
     </tr>
     <tr><td>
         <h3>Reference</h3>
            {% include "web_pconsfold/refs.html" %}
     </td></tr>
 </table>

{% endblock %}
